<footer class="da">
    <div class="footer-links">
        <a class="footer-a" href="">Contact us</a>
        <a class="footer-a" href="">Work with us</a>
        <a class="footer-a" href="">Help</a>
    </div>
    
    <div class="social-icons">
        <i class="bi bi-instagram"></i>
        <i class="bi bi-facebook"></i>
        <i class="bi bi-twitter"></i>
        <i class="bi bi-linkedin"></i>
    </div>
    <div class="logo">
        <a href="/products">Umarket</a>
    </div>
    <p class="copyright">&copy;2021 Umarket | All Rights Reserved</p>
</footer>