body{
    min-height: 100vh;
}

.navbar{
    -webkit-box-shadow: 2px -18px 24px 11px rgba(0,0,0,0.32); 
    box-shadow: 2px -18px 24px 11px rgba(0,0,0,0.32);
}
.createProduct-header{
    font-family: "Poppins", sans-serif;
}
.secCreateForm{
    padding: 3rem;
    padding-left: 15rem;
    padding-right: 15rem;
    -webkit-box-shadow: 0px 19px 32px 5px #08dbf6; 
    box-shadow: 0px 19px 32px 5px #12ffc4;
    background-color: aquamarine;
}
.div-create{
    position: relative;
    margin-bottom: 5rem;
}

.accordion-button{
    /* text-shadow: 1px 1px 2px #000000; */
    font-size: 1.5rem;
    background: linear-gradient(264deg, rgba(22,214,147,1) 0%, rgb(18, 228, 158)) !important;
    color: white !important;
    transition: .5s ease;
}
.accordion-button:not(.collapsed) {
    background: linear-gradient(264deg, rgba(22,214,147,1) 0%, rgb(17, 184, 128)) !important;
    color: white;
}

.accordion-button:focus{
    box-shadow: none;
}

.accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
  }

.accordion-item{
    box-shadow: 0 1px 12px rgba(0,0,0,0.15);
    border: 1px solid rgb(238, 238, 238);
} 

input[type=number]{
    opacity: 1;
    border: 1px solid #ced4da;
    border-radius: 3px;
    outline: none;
   
  }

.priceInp{
    width: 10rem;
}

.submit-product{
    background-color: rgb(4, 173, 117);
    border: none;
}

@media screen and (max-width: 992px) {
    .secCreateForm{
        padding: 5rem;
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

