body{
    height: 100vh;
    background-color: rgb(107, 211, 176);
}
input[type="search" i] {
    width: 20rem;
}


.carousel{
    margin-top: 5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 6rem;  
    
}
.mainCar{
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 15px 0px #000000; 
    box-shadow: 0px 0px 15px 0px #000000; 
    background-color: #fff;
}

.carousel-item{
    width: 100%;
    height: 25rem;
    background-color: #777;

}
.welcome{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
    
}
.welcome h1{
    font-family: 'PoppinsMedium', sans-serif;

}
.welcome h1 span{
    color: rgb(89, 230, 183);
}
.welcome p{
    font-family: 'Poppins', sans-serif;
}

.welcome .welcomeTextP{
    align-self: flex-start;
    font-size: 1.4rem;
    padding-top: 2rem;
    margin-left: 3rem;
}
.carousel-inner img{
    background-position: center;
    background-size: cover;
    border-left: 1px solid rgb(0, 0, 0);
}
.home-products{
    width: 100%;
    background-color: rgb(236, 236, 236);
    border-top: 1.5px solid rgb(202, 202, 202);
    -webkit-box-shadow: 0px 30px 30px 5px #08dbf6; 
    box-shadow: 0px 10px 30px 5px #12ffc4;
}
.home-section{
    width: 100%;
    background-color: rgb(228, 228, 228);
    border-top: 1px solid rgb(204, 204, 204); border-bottom: 1px solid rgb(204, 204, 204);
}
.titles{
    font-size: 30px;
    font-family: sans-serif;
    margin-left: 10rem;
    padding-top: 4rem;
    /* margin-left: 2rem; */
}

.trend{
    display: inline-flex;
    flex-wrap: wrap;
    margin-bottom: 10rem;
    width: 100%;
    padding-top: 1rem; padding-bottom: 3rem;
    gap: 1.5rem;
    justify-content: center;
    /* display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 4rem; */
    
}
.cardAnim{
    width: 15rem;
    height: 20rem;
    margin-top: 2rem;
    /* -webkit-box-shadow: 0px 0px 9px -2px rgba(0,0,0,0.15); 
    box-shadow: 0px 0px 9px -2px rgba(0,0,0,0.15); */
    border-radius: 4px;
    border-color: transparent;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all .2s ease-in-out; 
    /* transition: .2s ease-out; */
    
}
.cardAnim:hover{
    /* -webkit-box-shadow: 0px 0px 26px -1px rgba(0,0,0,0.54); 
    box-shadow: 0px 0px 26px -1px rgba(0,0,0,0.54); */
    margin-top: 0;
    height: 22rem;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background-color: rgb(255, 255, 255);
}
.cardAnim #about{
    visibility: hidden;
}
.cardAnim p{
    visibility: hidden;
}
.cardAnim:hover p{
    visibility: visible;
}
.cardAnim:hover #about{
    visibility: visible;
    background-color: rgb(127, 255, 212);
}
.cardAnim:hover #about:focus{
    outline: none;
    box-shadow: none;
}
.cardAnim:hover #about:hover{
    background-color: rgb(11, 214, 150);
}

.image{
    width: 100%;
    border-top-left-radius: 4px; border-top-right-radius: 4px;
}
.image img{
    height: 15rem;
    align-self: center;
}
.card-title{
    font-family: 'Poppins', sans-serif;
}
.card-body{
    border-top: 1px solid rgb(160, 159, 159);
}
.card-text{
    color: rgb(127, 255, 212); 
    font-weight: bold;
}
/* #about{
    background-color: aquamarine;
}
#about:focus{
    outline: none;
    box-shadow: none;
} */

.discovery{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 10rem;
}
.discovery-card{
    width: 30rem;
    height: 17rem;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80");
    /* https://images.unsplash.com/photo-1515378960530-7c0da6231fb1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80 */
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 2rem;
    transition: .2s linear;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}
.discovery-card:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 40px rgba(0,0,0,0.22);
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80");
    transform: scale(1.04);
    -webkit-transform: scale(1.04);
    -o-transform: scale(1.04);
    -ms-transform: scale((1.04));
}
.cloth{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://images.unsplash.com/photo-1556048219-bb6978360b84?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80");
    background-size: cover;
    background-position: center;
}
.cloth:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("https://images.unsplash.com/photo-1556048219-bb6978360b84?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80");
}

.technology-title{
    color: white;
    font-size: 2.5rem;
    text-shadow:  0 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
}
.description{
    color: white;
    font-size: 1.3rem;
    padding-left: 10px;
    text-shadow:  0 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
}
.technology-button{
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(44, 44, 44);
    align-self: flex-end;
    text-decoration: none;
    padding: 5px;
    margin-top: 2rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: .2s ease-in-out;
}
.technology-button:hover{
    box-shadow: 0 1px 10px rgba(0,0,0,0.20), 0 1px 10px rgba(0,0,0,0.20);
    background-color: rgb(127, 255, 212);
    color: rgb(255, 255, 255);
    text-shadow:  0 1px 2px rgba(0, 0, 0, 0.5);
}


.categories{
    display: flex;
    justify-content: center;
    align-content: center;
}

.categories-div{
    display: flex;
    gap: 10px;
}
.category-card{
    width: 10rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    background-color: rgb(242, 255, 255);
    border: none;
    border-radius: 3px;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 50px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: .1s ease-in-out;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}
.category-card:hover{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 40px rgba(0,0,0,0.22);
    transform: scale(1.04);
    -webkit-transform: scale(1.04);
    -o-transform: scale(1.04);
    -ms-transform: scale(1.04);
    color: rgb(21, 170, 170);
    
}
.category-card i{
    align-self: center;
    font-size: 2rem;
}
#category-title{
    font-size: 1.1rem;
    text-align: center;
    width: 10rem;
}

@media screen and (max-width: 1400px) {
    .welcome{
        width: 50%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
   
    }
    .welcome p h1{
        font-size: 1rem;
        text-align: center;
    
    }
    .welcome .welcomeTextP{
        align-self: center;
        padding-top: 2rem;
        margin-left: 1rem;
    }
    
    .trend{
        padding-right: 1rem; padding-left: 2rem;
    }
}
@media screen and (max-width: 992px) {
    .links{
        display: flex;
        justify-content: start;
        align-items: flex-end;
    }
    .mainCar{
        text-align: center;
    }
    .carousel-item{
        width: 100%;
        height: 25rem;
        background-color: #777;
    
    }
    .titles{
        text-align: center;
        margin-left: 0;
    }
    .trend{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        transition: all .5s linear; 
        
    }
    .cardAnim{
        width: 10rem;
        height: 15rem;
    }
    .cardAnim:hover{
        height: 21rem;
    }
    .image{
        width: 10rem;
   
    }
    .image img{
        width: 10rem;
        height: 10rem;
    }

    .discovery{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .discovery-card{
        width: 15rem;
        height: 17rem;
        padding: 1rem;
       
    }
    

    .categories-div{
        gap: 5px;
    }
    .category-card{
        width: 7rem;
        height: 7rem;
        align-content: center;
        margin-top: 1rem;
        margin-bottom: 2rem;
        padding: 25px;
    }
    .category-card i{
        font-size: 1.1rem;
        
    }
    #category-title{
        font-size: 1rem;
        width: 7rem;
    }

    .card{
        margin-bottom: 10px;
        
        
    }
    .card-body a{
        transition: 0.5s ease;
        
    }
    .card-body a:hover{
        transform: translateY(-12px);
        
    }
    
  }