.profileBody{
    background-color: rgb(107, 211, 176);
}


.profile-section{
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-div{
    height: 50vw;
    width: 70rem;
    min-width: 40rem;
    margin-top: 7rem;
    border-radius: 7px;
    background-color: rgb(240, 255, 255);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    display: flex;
    flex-direction: row;
}
.profile-anchors{
    padding: 1rem;
    background-color: rgb(241, 248, 248);
    width: 15rem;
    border-right: 1px solid rgb(110, 110, 110);
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    display: flex;
    flex-direction: column;
}
.profile-anchors a{
    margin-bottom: 1rem;
}
.reputation{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    border-bottom: 1px solid rgb(110, 110, 110);
}
.reputation button{
    margin-left: 1rem;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 3px;
    transition: .2s ease-in-out;
}
.reputation button:hover{
    cursor: pointer;
    background-color: rgb(146, 250, 215);
    border: 1px solid rgb(146, 250, 215);
}

.popup{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 40rem;
    max-width: 80%;
    z-index: 10;
    transform: translate(-50%, -50%);
    border: 1px solid rgb(107, 211, 176);
    background-color: azure;
    border-radius: 5px;
}
.popup-header{
    border-bottom: 1px solid rgb(107, 211, 176);
    display: flex;
    justify-content: space-between;
    padding: .5rem;
}
.popup-header button{
    padding: .5rem;
}
.popup-text{
    padding: .5rem;
}

#overlay{
    position: fixed;
    opacity: 0;
    transition: .5s ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    pointer-events: none;
}

#overlay.active{
    opacity: 1;
    pointer-events: all;
}

.profile-info{
    padding: 1rem;
}
.profile-info h2{
    font-size: 2rem;
}

.profile-info .profile-items{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}