.profileBody{
    background-color: rgb(107, 211, 176);
}


.profile-section{
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-div{
    height: 95%;
    width: 100%;
    margin-top: 10rem;
    /* border-radius: 7px; */
    background-color: rgb(240, 255, 255);
    box-shadow: 0 1px 5px rgba(0,0,0,0.20), 0 2px 2px rgba(0,0,0,0.24);
    display: flex;
    flex-direction: row;
}
.profile-anchors{
    padding: 1rem;
    background-color: rgb(241, 248, 248);
    width: 10%;
    border-right: 1px solid rgb(236, 236, 236);
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    display: flex;
    flex-direction: column;
}
.profile-anchors a{
    margin-bottom: 1rem;
}
.reputation{
    display: flex;
    align-items: baseline;
    border-bottom: 1px solid rgb(110, 110, 110);
}
.reputation button{
    margin-left: 1rem;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 3px;
    transition: .2s ease-in-out;
}
.reputation button:hover{
    cursor: pointer;
    background-color: rgb(146, 250, 215);
    border: 1px solid rgb(146, 250, 215);
}

.popup{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 30%;
    max-width: 80%;
    z-index: 10;
    transform: translate(-50%, -50%);
    border: 1px solid rgb(107, 211, 176);
    background-color: azure;
    border-radius: 5px;
}
.popup-header{
    border-bottom: 1px solid rgb(107, 211, 176);
    display: flex;
    justify-content: space-between;
    padding: .5rem;
}
.popup-header button{
    padding: .5rem;
}
.popup-text{
    padding: .5rem;
}

#overlay{
    position: fixed;
    opacity: 0;
    transition: .5s ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    pointer-events: none;
}

#overlay.active{
    opacity: 1;
    pointer-events: all;
}

.profile-info{
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
/* .profile-info .userProducts{
   
}   */
.profile-info h2{
    font-size: 2rem;
}
.profile-info #titles{
    font-size: 2rem;
    border-bottom: 1px solid rgb(87, 87, 87);
    border-radius: 2px;
}
.profile-a{
    text-decoration: none;
}
.profile-products{
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
.userProducts{
    width: 35%;
    display: flex;
    flex-direction: column;
}
.userProducts a{
    color: rgb(97, 97, 97);
    font-size: 1.1rem;
    text-decoration: none;
}
.userProducts a:hover{
    color: rgb(0, 255, 170);
}

.userOrders{
    width: 35%;
    display: flex;
    flex-direction: column;
}
.userOrders a{
    color: rgb(97, 97, 97);
    font-size: 1.1rem;
    text-decoration: none;
}
.userOrders a:hover{
    color: rgb(0, 255, 170);
}


.otherUserProducts{
    display: flex;
    flex-direction: column;
}


@media screen and (max-width: 1400px){
    /*  */
}
@media screen and (max-width: 992px){
    .profile-div{
        flex-direction: column;
    }
    .profile-anchors{
        flex-direction: row;
        width: 100%;
        border-top-right-radius: 7px;
        border-bottom-left-radius: 0px;
        border-bottom: 1px solid rgb(236, 236, 236);
    }
    .profile-anchors{
        gap: 10px;
    }
}