.purchasedBody{
    height: 100vh;
    background-color: rgb(124, 251, 209);
}
.congratsSec{
    height: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.congratsDiv{
    /* max-height: 500px; */
    width: 500px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 5px;
    background-color: rgb(240, 255, 255);
    transition: 1s ease-in;
}

.congratsDiv h1{
    font-size: 2em;
}

.btnDetails:focus{
    outline: none;
    box-shadow: none;
}

.purchaseDetails{
    background-color: rgb(220, 220, 220);
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
}

.purchaseDetails h2{
    font-size: 1.2em;
}

.congratsDiv a{
    align-self: center;
}
