.purchaseSection{
    display: flex;
    justify-content: center;
    align-items: center;
}
.purchaseDiv{
    width: 65rem;
    margin-top: 5rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* .purchaseForm{
    display: flex;
    flex-direction: row;

} */


/* .shipping{
    align-self: flex-start;
} */
.shipping input[type=radio]:hover{
    outline: rgb(127, 255, 212);
}
.shipping div{
    padding: .5rem;
    background-color: rgb(243, 243, 243);
    margin-bottom: 1rem;
    border-radius: 3px;
    width: 40%;
    height: 5rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12); 
}

.shipping div:hover{
    /* box-shadow: 0 2px 10px rgba(0,0,0,0.25); */
    border: 1px solid aquamarine;
}

.premium{
    background: rgb(243,243,243);
    background: linear-gradient(264deg, rgba(243,243,243,1) 0%, #fbe67d 100%, #eed140);
    /* background-size: cover;
    background-position: center; */
    background-size: 200% 200%;
    animation: shine 5s ease infinite;
    animation: shine 4s infinite;
   
}
.premium:hover{
    border: 1px solid black;
}

.totalPrice{
    transition: all 1s ease;
    font-size: 1.5rem;
}


.payment{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.payment input{
    width: 20rem;
}
.payment select{
    width: 20rem;
}

/* .purchaseForm button{
    display: inline-block;
    align-self: center;
} */

@keyframes shine {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}