
body{
    background: rgb(236, 236, 236);
}
.productCon{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.prodDiv{
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
    width: 50%;
    border-radius: 10px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); 
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.carouImgs {
    width: 5.5rem;
    border-top-left-radius: 10px; border-bottom-left-radius: 10px;
    border: 1px solid rgb(192, 191, 191);
    
}
.carou{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.carou img{
    width: 50px;
    height: 50px;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    border: 1px solid rgb(144, 144, 144);;
    border-radius: 5px;
    
    
}
.carou img:hover{
    border: 2px solid  rgba(52, 131, 250, 1);
}


.square {
    height: 400px;
    width: 400px;
    
}
.square img {
    width: 400px;
    height: 400px;

}


.prodH1{
    align-self: flex-end;
    /* overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 70%; */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.prodInfo{
    padding-left: 2rem;
    padding-right: 3rem;
}
.prodInfo .stock-message{
    font-size: 1.5rem;
    color: rgb(31, 216, 154);
}
.prodInfo .no-stock{
    font-size: 1.5rem;
    color: rgb(180, 39, 4);
}
.prodInfo .stock-message.noStock{
    font-size: 1.5rem;
    color: rgb(180, 39, 4);
}

.product-description .productDescription{
    overflow: auto;
}

.prodInfo #qty{
    width: 2.8rem;

} 

.edit-product{
    display: flex;
    align-items: center;
}
.edit-product a{
    text-decoration: none;
}
.edit-product i{
    font-style: normal;
    font-size: .9rem;
    margin-left: 10px;
}
.edit-product a:hover i{
    color: rgb(30, 195, 140);
}

.btnBuy{
    background-color: rgb(36, 231, 166);
    border-color: transparent;
    color: rgb(34, 34, 34);
}
.btnBuy:hover{
    background-color: rgb(30, 153, 112);
    border-color: transparent;
    color: #000;
}
.btnBuy:active{
    outline: transparent;
}

.btnCart{
    background-color: rgb(253, 194, 83);
    color: rgb(34, 34, 34);
}


.reviewDiv{
    width: 65%;
    /* opacity: 0;
    height: 0; */
    border-radius: 10px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); 
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 3rem;
}
#title{
    border-radius: 5px;
    border: 1px solid #ced4da;
}
#title:focus{
    outline: none;
}
#body{
    border-radius: 5px;
    border-color: #ced4da;
    width: 70%;
}
#body:focus{
    outline: none;
}
.btnReview{
    background-color: aquamarine;
}

.logReview{
    display: inline-block;
    transition: .5s ease-in;
} 
.logReview:hover{
    color: rgb(127, 255, 212);
}


.reviews{
    width: 65%;
    display: flex;
    flex-direction: column;
    
}
.review{
    display: flex;
    flex-direction: row;
    width: 65rem;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12); 
}
.review-stars{
    color: aquamarine;
    font-size: 1.5rem;
    text-shadow: 0 0 5px rgb(255, 255, 255);
}
/* .review-text{
    
    
} */

.divDeleteReview{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 1rem;

}
.deleteReview button{
    background-color: #dc3545;
    color: #000;
    border-radius: 5px;
    border: none;
}

.reviewBody{
    padding: 1rem;
    width: 60rem;
}


@media screen and (max-width: 1400px){
    .prodDiv{
        width: 40rem;
        align-self: center;
    }
    
    .square {
        height: 300px;
        width: 300px;
        
    }
    .square img {
        width: 300px;
        height: 300px;
    
    }
    .review{
        width: 25rem;
    }
    .review-stars{
        font-size: 1rem;
        
    }
}

@media screen and (max-width: 992px){
    .prodDiv{
        width: 30rem;
    }
    
    .square {
        height: 200px;
        width: 200px;
        
    }
    .square img {
        width: 200px;
        height: 200px;
    
    }
    .review{
        width: 20rem;
    }
}
@media screen and (max-width: 768px){
    .prodDiv{
        width: 35rem;
    }
    .review{
        width: 15rem;
    }
    .review-stars{
        font-size: .7rem;
        
    }
}